.hero-section{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-position:left;
    background-size: cover;
    width: 100%;
    float: left;
}

.carousel-indicators .active{
    background-color: orange !important;
    border-radius: 13px;
    width: 45px;

}
.carousel-indicators li{
    background-color: gray !important;
    height: 10px;
    border-radius: 50%;
    width: 15px;

}
.im-media{
    width: 75%;
}
.nav-link{
    font-weight: bold;
    color: gray;
}
.margin-topp{
    margin-top: 100px;
}
.margin-bottom-container{
    margin-bottom: 80px;
}
.banner-left-padding{
    padding-left: 30px;
}
.banner-left-padding p{
    color: dimgray;
}
.buy-now-button{
    background-color: black;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
}
.buy-now-button:hover{
    box-shadow: 4px 4px 4px orange;
}
.see-all{
    border: none;
    background: transparent;
    color: #FFAB25;
}
.see-all:hover{
    background-color:lightgray;
    border-radius:17px;
    color: black;
    padding: 10px 20px;
}
.card{
    border: none;
    padding: 30px 20px;
    margin-top: 30px;
    text-align: center;
    box-shadow: 5px 5px 15px lightgray;
}
.card-text{
    color: dimgray;
    font-size: 14px;
}
.without-title-top{
    margin-top: 35px;
}
.card-footer{
    border-top: none;
    background: white;
}
.section-two{
    width: 100%;
    float: left;
}
.section-three{
    width: 100%;
    float: left;
}
.section-four{
    width: 100%;
    float: left;
}
.categories{
    margin-top: 150px;
    text-align: center;
}
.span{
    display: block;
    margin: 0 auto;
    border-bottom: 7px solid orange;
    width: 8%;
    margin-top: 10px;
    margin-bottom: 80px;
}
.img-one{
    border-radius: 0px 17px 0px 35px;
    padding: 40px 60px;
    box-shadow: 5px 5px 20px lightgrey;
}
.img-one h4{
    text-align: center;
    margin: 20px;
}
.img-two-same{
    box-shadow: 5px 5px 20px lightgrey;
    border-radius: 17px 0px 35px 0px;
    padding: 40px 60px;
}
.img-two-same h4{
    text-align: center;
    margin: 20px;
}
.btm-margin{
    margin-bottom: 50px;
}
.btm-margin-another{
    margin-bottom: 100px;
}